.loader-container {
    height: 100vh; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;

    img { 
        height: 30px; 
        margin-bottom: 10px;
    }
    .line { 
        height: 3px; 
        width: 200px; 
        background: #e8e8e8; 
        border-radius: 3px;
    }
    .inner { 
        width: 100%; 
        height: inherit; 
        background: linear-gradient(to right, #052f42, #040455, #054a67); 
        animation: slide 2s ease-in-out infinite; 
        border-radius: 3px;
    }
}


@media screen and (max-width: 1280px){
    .tabs-list {   
        margin-top: -1px !important; 
    }
}
@media screen and (max-width:472px){ 
    .x-class {  
        margin-top: 20px !important; 
    }
}
@media screen and (max-width: 850px){
    .tabs-list {  padding:17px 15px 0 15px;
    }
}
@keyframes slide {
  0% { transform-origin: left; transform: scalex(0.3); }
  25% { transform-origin: left; transform: scalex(1); }
  26% { transform-origin: right; transform: scalex(1); }
  50% {  transform-origin: right;  transform: scalex(0.3); }
  75% { transform-origin: right; transform: scalex(1);}
  76% { transform-origin: left; transform: scalex(1); }
  100% { transform-origin: left; transform: scalex(0.3);}
}
