@import '../index.scss';

.login-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 50px auto 0 auto;
  padding: 0 67px;

    .login-area {
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        padding-top: 79px; 

        div{
            max-width: 447px; 
            width: 100%; 
        
                h1{
                    font-size: 40px; 
                    color:$navy-blue; 
                }

                p{
                    font-size: 20px; 
                    color:$gray-hard; 
                    padding: 25px 0 60px 0;
                }

                .input-class{
                    all: unset;  
                    width: calc(100% - 36px); 
                    padding: 0 18px; 
                    color: $gray-hard !important; 
                    border: 1px solid $gray-soft; 
                    border-radius: 5px; 
                    height: 50px; 
                    margin-bottom: 24px;
                }

                form{

                    .forgot-password{
                        text-transform: uppercase; 
                        padding-bottom: 30px;
                    
                        a{
                           text-decoration:none; 
                           color: $cyan-color; 
                           text-transform: uppercase; 
                        }
                    }

                    .bg-cyan{
                        background: $cyan-color; 
                        color: $white-color; 
                    }

                    .btn-padding{
                        padding: 16px 0;
                    }

                    .text__transform { 
                        text-transform: uppercase; 
                    }

                    .password__styles {
                        display: flex; align-items: center; justify-content: space-between; padding: 0 18px; color: $gray-hard !important; border: 1px solid $gray-soft; border-radius: 5px; height: 50px; margin-bottom: 24px;
                    
                        .input__styles { 
                            all: unset; width: 100%; 
                        }

                        span { 
                            color: $cyan-color; cursor: pointer; 
                        }
                    }


                }
        }
    }
}


