@import '../../assets/styles/index.scss';

.tabs-wrapper > div {overflow: auto;  display: flex; align-items: center; justify-content: space-between; background: $white-main; padding: 0 30px; margin-top: -2px; position: relative; z-index: 0; }
.single_tab { background: $white-main; border: 1px solid rgba(33, 63, 125, 0.06); padding: 30px 30px 46px 30px; box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04); border-radius: 4px; margin-top: 30px;} 
.li { list-style-type: none; white-space: nowrap; padding:5px 10px; display:inline-block; position:relative; z-index:1; border-bottom: 2px solid transparent; &:hover{border-bottom: 2px solid $cyan-main;} }
.li > button { all: unset; cursor: pointer; border-bottom: 2px solid transparent;}
li.active {  border-bottom: 2px solid $cyan-main;}

@media screen and (max-width: 767px) {
    .single_tab { padding: 16px 16px 26px 16px; }
}
