@import 'assets/styles/index.scss';

.user__details__wrapper { position: relative; padding-bottom: 100px;}
.user__details__wrapper .back__btn { all: unset; color: $navy-blue; cursor: pointer;}
.user__details__wrapper .activation__cta { display: flex; align-items: center; justify-content: space-between;  padding: 32px 0 46px 0; }
.user__details__wrapper .activation__cta .heading { font-weight: normal; font-size: 24px; color: $navy-blue; font-weight: 500; }
.user__details__wrapper .activation__cta > div { display: flex; column-gap: 20px;}
.user__details__wrapper .activation__cta > div .blacklist__btn { border: 1px solid #E4033B; color: #E4033B; background: $white-main; text-transform: uppercase; white-space: nowrap; padding: 12px 16px; }
.user__details__wrapper .activation__cta > div .activate__btn { border: 1px solid $cyan-main; color: $cyan-main; background: $white-main; text-transform: uppercase; white-space: nowrap; padding: 12px 16px; }


.user__details__wrapper .user__board { margin-bottom: 30px; }
.user__details__wrapper .user__board .l__tabs { display: flex; align-items: center; justify-content: center; color: $navy-blue; margin-bottom: -40px; }
.user__details__wrapper .user__board .tandem__one { background: $white-main; border: 1px solid rgba(33, 63, 125, 0.06); box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04); padding: 30px 30px 51px 30px; border-radius: 4px; display: flex; align-items: center;}
.user__details__wrapper .user__board .tandem__one .user__profile { display: flex; align-items: center;}
.user__details__wrapper .user__board .tandem__one .user__profile > img { border-radius: 50%; width: 100px; height: 100px; border: 1px solid var(--pixel-gray); border-radius: 50%; background-image: linear-gradient( 90deg, #eeeeee 0%, #eeeeee 40%, #dddddd 50%, #dddddd 55%, #eeeeee 65%, #eeeeee 100%); background-size: 400%; animation: shimmer 1000ms infinite;}
.page-container .gen-table-wrapper .avatar-display > img{  border-radius: 50%; border: 1px solid $gray-soft; margin-right: 20px;}
@keyframes shimmer { from { background-position: 100% 100%;} to { background-position: 0 0;}}
.user__details__wrapper .user__board .tandem__one .user__profile > div > h1 { color: $navy-blue; font-size: 22px; font-weight: 500 !important; line-height: 26px; padding-bottom: 7px;}
.user__details__wrapper .user__board .tandem__one .user__profile > div > p { color: $gray-hard; font-size: 14px; font-weight: 400 !important; line-height: 16px;}
.user__details__wrapper .user__board .tandem__one .user__tier { border-right: 1px solid $gray-soft; border-left: 1px solid $gray-soft; margin: 0 30px; padding: 16px 30px;}
.user__details__wrapper .user__board .tandem__one .user__tier > h1 { color: $gray-hard; font-size: 14px; font-weight: 400 !important; line-height: 16px; padding-bottom: 11px;}
.user__details__wrapper .user__board .tandem__one .bank__details > h1 { color: $navy-blue; font-size: 22px; font-weight: 500 !important; line-height: 26px; padding-bottom: 7px;}
.user__details__wrapper .user__board .tandem__one .bank__details > p { color: $navy-blue; font-size: 14px; font-weight: 400 !important; line-height: 16px; padding-bottom: 11px; }

.user__details__wrapper .user__board .tandem__two > h5 { font-size: 16px; font-weight: 500; color: $navy-blue; padding-bottom: 30px; }
.user__details__wrapper .user__board .tandem__two .block__base { display: grid; grid-template-columns: repeat(4, 1fr); border-bottom: 1px solid $gray-soft; margin-bottom: 30px;}
.tab__style .tandem__two:last-child .block__base { border: none; margin-bottom: 0 !important; }
.user__details__wrapper .user__board .tandem__two .block__base > div { margin-bottom: 30px; }
.user__details__wrapper .user__board .tandem__two .block__base > div > h2 { font-size: 12px; font-weight: 400; color: $gray-hard; text-transform: uppercase; padding-bottom: 5px;  }
.user__details__wrapper .user__board .tandem__two .block__base > div > h3 { font-size: 14px; font-weight: 500; color: $navy-blue;  }

@media screen and (max-width: 860px) {
    .user__details__wrapper .user__board .tandem__two .block__base { display: grid; grid-template-columns: repeat(3, 1fr) }
}

@media screen and (max-width: 767px) {
    .user__details__wrapper .activation__cta .heading { font-size: 18px; }
    .user__details__wrapper .user__board .tandem__two .block__base { display: grid; grid-template-columns: repeat(2, 1fr) }
    .user__details__wrapper .user__board .tandem__one .user__profile { flex-direction: column; text-align: center;}
    .user__details__wrapper .user__board .tandem__one { flex-direction: column; padding: 30px 30px 20px 30px; }
    .user__details__wrapper .user__board .tandem__one .user__tier { border: none; padding: 30px 0px;}
    .user__details__wrapper .user__board .tandem__one .user__profile > div > h1 { font-size: 18px; padding-bottom: 3px; }
    .user__details__wrapper .user__board .tandem__one .user__profile > img { margin: 0 auto 12px auto; }
    .user__details__wrapper .user__board .tandem__one .bank__details { text-align: center; }
    .user__details__wrapper .user__board .tandem__one .bank__details > h1 { font-size: 18px; padding-bottom: 3px;}

}

@media screen and (max-width: 560px) {
    .user__details__wrapper { padding-bottom: 0;}
    .user__details__wrapper .activation__cta > div { flex-direction: column; row-gap: 20px; column-gap: 0px;}
    .user__details__wrapper .activation__cta { align-items: flex-start;  padding: 32px 0 26px 0; }
    .user__details__wrapper .user__board .tandem__two .block__base > div > h2 { font-size: 11px;}
    .user__details__wrapper .user__board .tandem__two .block__base > div > h3 { font-size: 13px; }
    .user__details__wrapper .user__board .tandem__two > h5 { padding-bottom: 20px; }


}